img{
    max-width: 100%;
    height: auto;
    padding-left: 40px;
    margin: auto;
}

.container2 img{
    margin-top: 30px;
    margin-top:100px;
    margin-left:5px;
    display:inline;

}
.links{
    
    position: absolute;
    top: 8px;
    right: 12px;
    padding-right: 300px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 20px;
    display: block;

}
.link1{
    margin-left: 20px;
    text-decoration: none;
    color:white;
}
.button1{
    margin-left: 20px;
    text-decoration: none;
    background-color: #FAFF00;
    color: black;
    
}
.button2{
    margin-left: 20px;
    text-decoration: none;
    color:#FAFF00 ;
    background-color: black;
}
.container2 button{
    margin-left: 20px;
    text-decoration: none;
    color:#FAFF00 ;
    background-color: black;
   
}

.h1{
    color:#FAFF00;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: block;
    padding-left: 150px;
    font-size: xx-large;
}
.paragraph1{
    color:rgb(255, 255, 255);
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: block;
    padding-left: 150px;
    font-size: xx-large;
    
    
}
.container2 p{
    font-size: xx-small;
    display: inline-block;
    vertical-align: top;
    padding-right: 100px;
    
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 h2{
    position: relative;
    padding-left:20px;
    padding-bottom: 250px;
    display: block;
}
.container3{
    width:fit-content;
    height: fit-content;
    border-style: groove;
    margin-top: 50px;
    background-color:whitesmoke;
}
.container3 img{
    margin: 150px 20px 20px 20px;
    margin-left: 10px;
    border-bottom: 100px;
    border-style: inset;
    border-color: white;
    border-bottom-left-radius: 70px;
    border-radius: 50px;
    border: style right inherit; 
    
}
.container3 h2{
    margin-top: 200px;
    padding-left: 200px;
    font-size: xx-large;
    font-weight: 800;
    font-style:'Poppins' 'Actor' 'Adamina';
}
.container4{
    width: 97%;
    height:fit-content;
    background-color: black;
    text-align: center;
    text-emphasis-color: white;
    margin-top: -40px;
}
.columns{
    display: flex;
    padding-left: 400px;
}
.column1{
    display: grid;
    text-decoration: none;
    margin: 20px;
    
    }
.column2{
        display: grid;
        text-decoration: none;
        margin: 20px;
        position: relative;
        
        
    }
.column3{
        display: grid;
        text-decoration: none;
        margin: 20px;
    }
.column1 a{
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.column2 a{
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.column3 a{
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.container4 h2{
    color: whitesmoke;
    padding-right: 400px;
    padding-top: 100px;
    font-size: xx-large;
}
.container4 hr{
    position: relative;
    padding-right: 60px;
    top: 20px;
    border: none;
    height: 0.1px;
    width: 80%;
    background:wheat;
    margin-bottom: 50px;
}
.container4 p{
    color: whitesmoke;
}
span{
    color: #ffa600;
}

/* page2 css */
.firstsection {
    background-color: black;
    height: 150px;
}

.navbar2 {
    display: flex;
    flex-direction: row;
    padding-left: 650px;
    margin-top: 50px;
}
.moverslinks {
  margin: 20px;
  margin-top: 15px;

}
.moversbutton{
    width: 10px;
    height: 3px;
    padding-left: 10px;
}


.firstsection {
    background-color: black;
    height: 140px;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    padding-left: 650px;
    margin-bottom: -15px;
}



.navbar2 {
    color: white;

}

.modernhouse {
    padding-right: 100px;
    

}

.adress {
    font-size: x-small;
    padding-right: 100px;
    margin-top: -14px;
}

.price {
    margin-left: 1300px;
    margin-top: -35px;
    font-size: x-large;
}

.pricetag {
    margin-left: 1300px;
    margin-top: -25px;
    font-size: small;
}

.propertyimg {
    width: 660px;
    padding-top: 40px;

}

.propertyinfo {
    margin-left: 699px;
    margin-top: -472px;
}

.card {
    width: 300px;
    height: 460px;
    background-color: aquamarine;
    border-radius: 10px;
}

.borderbox {
    width: 240px;
    height: 60px;
    background-color: gray;
    margin-left: 26px;
    margin-top: 10px;
    border-radius: 10px;
}

.profilephoto {
    width: 35px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 7px;
}

.username {
    margin-left: 60px;
    margin-top: -32px;
}

.inputs {
    width: 240px;
    height: 45px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 08px;

}

.inputsodd {
    width: 240px;
    height: 85px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 08px;

}

::placeholder {
    color: black;
}

.moversbuttonv2 {
    width: 240px;
    height: 50px;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
    background-color: black;
}

.housepicsoverall {
    display: flex;
    margin-left: -725px;

}

.housepics {
    width: 75px;
    padding-left: 20px;
    padding-top: 20px;
}

.details {
    width: 81vh;
    height: 15vh;
    border: 2px solid green;
    margin-left: -65vh;
    margin-top: 40px;
    border-radius: 10px;
}

.detailedinfo {
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
    border: 2px solid yellow;
    height: 60px;
    width: 100%;
    margin-top: 1px;
    margin-left: -2px;
}

.moversicons {
    display: flex;
}

.iconborders {
    width: 132px;
    height: 50px;
    border: 2px solid blue;
    margin-top: -20px;
}

.description {
    color: black;
    background-color:whitesmoke;
    width: 665px;
    height: 35vh;
    margin-top: 30px;
    margin-left: -540px;
    border-radius: 10px;
}

.descriptioncontents {
    padding-left: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.descriptioncontent1 {
    padding-left: 20px;
}
