img{
    max-width: 100%;
    height: auto;
    padding-left: 40px;
    margin: auto;
}

.container2 img{
    margin-top: 30px;
    margin-top:100px;
    margin-left:5px;
    display:inline;
    width: 800px;
    height: 800px;

}

.links{
    
    position: absolute;
    top: 8px;
    right: 12px;
    padding-right: 300px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 20px;
    display: block;

}
.link1{
    margin-left: 20px;
    text-decoration: none;
    color:white;
}
.button1{
    margin-left: 20px;
    text-decoration: none;
    background-color: #FAFF00;
    color: black;
    
}
.button2{
    margin-left: 20px;
    text-decoration: none;
    color:#FAFF00 ;
    background-color: black;
}
.container2 button{
    margin-left: 20px;
    text-decoration: none;
    color:#FAFF00 ;
    background-color: black;
   
}

.h1{
    color:#FAFF00;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: block;
    padding-left: 150px;
    font-size: xx-large;
}
.paragraph1{
    color:grey;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: block;
    padding-left: 150px;
    font-size: xx-large;
    
    
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: -600px;
}
.container2 h2{
    padding-top: -300px;
    padding-left: -200px;
}


 

.container3{
    width: fit-content;
    height: fit-content;
    border-style: groove;
    margin-top: 50px;
    background-color:whitesmoke;
}

.container3 hr{
    width: 10px;
    height: 5px;
    padding-top: -550px;
    padding-right: 600px;
    /* margin-top: 100px; */
    background-color: orange;
    border-radius: 6px;
    
    
}
.container3 img{

    
    margin: 150px 20px 20px 20px;
    margin-left: 10px;
    border-bottom: 100px;
    border-style: inset;
    border-color: white;
    border-bottom-left-radius: 70px;
    border-radius: 50px;
    border: style right inherit; 
    
}
.container3 h2{
    margin-top: 100px;
    padding-left: 200px;
    font-size: xx-large;
    font-weight: 800;
    font-style:'Poppins' 'Actor' 'Adamina';
}


.container4{
    width: 97%;
    height:fit-content;
    background-color: black;
    text-align: center;
    text-emphasis-color: white;
    margin-top: -40px;
}
.columns{
    display: flex;
    padding-left: 400px;
}
.column1{
    display: grid;
    text-decoration: none;
    margin: 20px;
    
    }
.column2{
        display: grid;
        text-decoration: none;
        margin: 20px;
        position: relative;
        
        
    }
.column3{
        display: grid;
        text-decoration: none;
        margin: 20px;
    }
.column1 a{
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.column2 a{
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.column3 a{
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.container4 h2{
    color: whitesmoke;
    padding-right: 400px;
    padding-top: 100px;
    font-size: xx-large;
}
.container4 hr{
    position: relative;
    padding-right: 60px;
    top: 20px;
    border: none;
    height: 0.1px;
    width: 80%;
    background:wheat;
    margin-bottom: 50px;
}
.container4 p{
    color: whitesmoke;
}
span{
    color: #ffa600;
}

/* page2 css */


/* first part */
.firstsection {
    background-color: black;
    height: 145px;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    padding-left: 650px;
    margin-bottom: -15px;
}

.moverslinks {
    margin-top: 15px;
    margin: 20px;
    text-decoration: none;
    color: white;
}
.firstsection button{
    color: black;
    width: 140px;
    height: 35px;
    background-color: #FFAC12;
    border-radius: 0 12px 0 0;
    margin-top: 10px;
    border: none;
}
.arrow{
    width: 20px;
    height: 1px;
    color:white;
}

.moverslinks:hover {
    color: #FFAC12;

}

.navbar2 {
    color: white;

}

.modernhouse {
    padding-left: 140px;
    padding-top: 15px;

}

.adress {
    font-size: x-small;
    padding-left: 140px;
    margin-top: -14px;
}

.price {
    margin-left: 1279px;
    margin-top: -35px;
    font-size: xx-large;
}

.pricetag {
    margin-left: 1345px;
    margin-top: -25px;
    font-size: small;
}

.propertyimg {
    width: 660px;
    padding-top: 40px;
    margin-left: 160px;

}

.propertyinfo {
    margin-left: 859px;
    margin-top: -472px;
}

.card {
    width: 300px;
    height: 460px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 10px 12px 29px #bebebe,
        -12px -12px 24px #ffffff;

}

.profile {
    padding-top: 10px;
}

.borderbox {
    width: 240px;
    height: 60px;
    background-color: rgba(233, 232, 232, 0.719);
    margin-left: 26px;
    margin-top: 10px;
    border-radius: 10px;
}

.profilephoto {
    width: 45px;
    height: 42px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 7px;
}

.username {
    margin-left: 68px;
    margin-top: -37px;
    font-size: large;
}

.userprofile {
    color: #FFAC12;
    margin-left: 70px;
    margin-top: -33px;
    font-size: small;
}

.inputs {
    width: 240px;
    height: 45px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 08px;

}

.inputsodd {
    width: 240px;
    height: 85px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 08px;

}

::placeholder {
    color: rgb(0, 0, 0);
}

.moversbuttonv2 {
    width: 240px;
    height: 50px;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
    background-color: black;
    border-radius: 0 12px 0 0;
}

.houseimages {
    display: flex;
    margin-left: -600px;
    margin-top: 15px;
    
    

}

.houses {
    width: 75px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 5px;
}

.houses:hover {
    background-color: #747171;
    border-radius: 5px;
    width: auto;

}

.details {
    width: 81vh;
    height: 15vh;
    margin-left: -85vh;
    margin-top: 40px;
    border-radius: 25px;
    background: white;
    box-shadow: 10px 12px 29px #bebebe6c,
        -12px -12px 24px #ffffff;
}

.detailedinfo {
    font-size: larger;
    font-weight: bold;
    height: 50px;
    width: 100%;
    padding-top: 29px;
    margin-left: 25px;

}

.moversicons {
    display: flex;
}

.iconborders {
    width: 100px;
    height: 20px;
    border: 1px solid grey;
    border-bottom-style: none;
    margin-top: -30px;
    border-radius: 2px;
}

.moversiconimg {
    width: 30px;
    padding-left: 35px;
    padding-top: 9px;
}

.numbers {
    width: 10px;
    margin-top: -20px;
    margin-left: 60px;
    
}

.description {
    color: black;
    width: 665px;
    height: 350px;
    margin-top: 30px;
    border-bottom: 20px;
    margin-left: -85vh;
    border-radius: 15px;
    background:white;
    box-shadow: 10px 12px 29px #bebebe6c,
        -12px -12px 24px #ffffff;
}

.descriptiontext {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: small;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.384);

}

.descriptiontext1 {
    padding-left: 15px;
    line-height: 1.5;
    color: #747171;
}

.features {
    width: 665px;
    height: 350px;
    border-radius: 15px;
    margin-left: -85vh;
    margin-top: 40px;
    margin-bottom: 120px;
    background: #ffffff;
    box-shadow: 10px 12px 29px #bebebe6c,
        -12px -12px 24px #ffffff;
}

.featureslist {
    color: #747171;
    display: flex;
    line-height: 2;
    border-radius: 10px;
    margin-top: -30px;
    padding-top: 15px;
    padding-left: 5px;
}

.featurestext {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    font-weight: bold;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.384);

}

.featureslisting {
    list-style-type: none;
    margin-left: 30px;
    padding-left: 20px;
    font-size: x-small;
    margin: 10px;

}

.check {
    width: 20px;
    margin-bottom: -9px;
    margin-left: -20px;
}

.linegradient {
    width: 160px;
    height: 5px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(30deg, rgb(221, 189, 7) 10%, rgb(29, 21, 1) 100%);
}

.similarlinegradient {
    margin-left: -85vh;
}

.similartext {
    margin-left: -85vh;
}

.similarcards {
    width: 40vh;
    height: 45vh;
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 10px 12px 29px #bebebe6c,
        -12px -12px 24px #ffffff;
}

.similarname {
    margin-bottom: -32px;
    font-size: large;
    padding-left: 20px;
}

.similaricons {
    display: flex;
}

.iconbordersforsimilar {
    width: 132px;
    height: 50px;
    border: 1px solid rgba(150, 150, 150, 0.295);
    border-bottom-style: none;
    margin-top: 49px;
}

.similarlistings {
    display: flex;
    margin-left: -90vh;
    margin-top: 19px;
    overflow: hidden;
}

.similarimgs {
    width: 40vh;
    overflow: hidden;

}

.similarimgsodd {
    width: 30vh;
    height: 32vh;
    overflow: hidden;
    padding-left: -1px;
}

.similarcardsodd {
    width: 30.1vh;
    height: 45vh;
    margin-left: 40px;
    background: #ffffff;
    box-shadow: 10px 12px 29px #bebebe6c,
        -12px -12px 24px #ffffff;
}

/* Footer CSS */
.moversfooter {

    height: 390px;
    color: white;
    margin-left: -104vh;
    margin-top: 25px;
    background: rgb(0, 0, 0);
    background: linear-gradient(20deg, rgba(0, 0, 0, 1) 35%, rgba(55, 41, 4, 1) 100%);
}

.moversbottomborder {
    border-bottom: 0.1px solid grey;
    width: 140vh;
    margin-left: 150px;
    margin-top: 30px;
}

.icons {
    width: 20px;
    padding-top: 20px;
}

h6 {
    padding-left: 90px;
} 
 h4 {
    font-size: x-large;
    padding-left: 150px;
}

.footerbutton {
    margin-left: 143vh;
    color: black;
    width: 145px;
    height: 50px;
    border: none;
    background-color: #FFAC12;
    border-radius: 0 12px 0 0;
    margin-top: -100px;
    margin-bottom: -35px;
}

.footertext {
    padding-top: 45px;
    margin-bottom: -25px;
}

.whitearrow {
    width: 30px;
    background-color: #ffa600;
}
.columnhaeding{
    display: flex;
    padding-left: 400px;
    
}

.moverscolumnheading {
   display: grid;
   margin:5px;
   text-decoration: none;
   text-align: center;
   
}

.moverscolumnheading1 {
    display: grid;
    margin:5px;
    text-decoration: none;
    text-align: center;
    padding-left: 600px;
    padding-top:-400px ;
}

.moverscolumnheading3 {
    display: grid;
    margin:5px;
    text-decoration: none;
    text-align: center;
}
